<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">

    <title>Covid-19 Info</title>
  </head>
  <body>
        <div class="container" style="margin-top: 20px;" >
          <div class="row align-items-center position-relative">

            <div class="col-3 ml-auto text-right order-2">
              <div class="site-logo">
                <a href="/index" class="font-weight-bold text-white"><img style="width: 200px; " src="../images/image.png" /></a>
              </div>
            </div>
            
            <div class="col-9 order-1 text-left mr-auto">
              <nav class="ml-auto" role="navigation">
                <ul class="navbar-nav" style="display: flex; flex-direction: row;">
                  <li class="helpers">Search:</li>
                  <li style="padding-left: 20px; padding-right: 20px;" class="nav-item lili"><a style="color: black;" href="/index" class="nav-link">Country</a></li>
                  <li style="padding-left: 20px; padding-right: 20px;" class="nav-item lili" ><a style="color: black;" href="/date" class="nav-link">Date</a></li>
                  <li style="padding-left: 20px; padding-right: 20px;" class="nav-item lili" ><a style="color: black;" href="/countrydate" class="nav-link">Country&Date</a></li>
                  <li class="helpers">Help:</li>
                  <li style="padding-left: 20px; padding-right: 20px;" class="nav-item lili active"><a style="color: black;" href="/cache" class="nav-link">Cache</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div style="margin-top: 2%;">
          <div class="container" style="height:max-content;">
            <h3 style="color: rgb(31, 19, 19); text-align: center;">Cache</h3>
            <div class="text-left" style="margin-top: 5%;">
              <div class="row justify-content-center">
                <div class="col-lg-3" style="margin-right: 70%;">
                    <table class="table styled-table" style="background-color: #e7ebee; margin-top: 30%; width: 1000px;">
                        <tbody>
                          <tr>
                            <th scope="row">#Requests</th>
                            <td>45</th>
                          </tr>
                          <tr>
                            <th scope="row">Hits</th>
                            <td>10</td>
                          </tr>
                          <tr>
                            <th scope="row">Misses</th>
                            <td>7</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
                  
            </div>

          </div>
        </div>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.sticky.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>